### The line of code below reverses a string

In [2]:
my_strg = 'My God is able'

In [16]:
#Reversing mystring
my_strg[::-1]

'elba si doG yM'

### Checking if the string is palindrome

In [17]:

cleaned_str = my_strg.replace(" ", "").lower()
is_palindrome = my_strg == my_strg[::-1]
output = ["not a", ""][is_palindrome]

# using the f sting format 
output = (f"The string is {output} palindrome.")

#print to check the output
output

'The string is not a palindrome.'

### Convert same string to uppercase.

In [18]:
my_strg.upper()

'MY GOD IS ABLE'

### Convert same string to lowercase.

In [19]:
my_strg.lower()

'my god is able'

### Count the number of vowels in the string

In [23]:
vowels = "aeiouAEIOU"
vowel_count = 0

#Using for loop
for char in my_strg:
    if char in vowels:
        vowel_count += 1

vowel_count = (f'The number of vowels present in the string is: {vowel_count}')
vowel_count

'The number of vowels present in the string is: 4'

### Count the number of consonants in a string.

In [41]:
consonants = 'BCDFGHJKLMNPQRSTVWXYXbcdfghjklmnpqrstvwxyx'
consonant_count = 0

#Using for loop
for char in my_strg:
    if char in consonants:
        consonant_count += 1

consonant_count = (f'The number of vowels present in the string is: {consonant_count}')
consonant_count

'The number of vowels present in the string is: 7'

### Remove all whitespaces from a string

In [42]:
strg = '    You are God  '
strg.strip()

'You are God'

### Find the length of a string without using the `len()` function.

In [43]:
strg_lenght = 0

#Looping through my string
for characters in my_strg:
    strg_lenght += 1

strg_lenght = (f'The lenght of my string is: {strg_lenght}')
strg_lenght

'The lenght of my string is: 14'

### Check if a my string contains a specific word.

In [46]:
specific_word = input('Enter a word')

if specific_word in my_strg:
    print(f'Yes {specific_word} is present in my string')

else:
     print(f'No {specific_word} is not found in my string')

Enter a word reliable

No reliable is not found in my string

### Replace a word in my string with another word.

In [49]:
my_strg.replace('able', 'awesome')

'My God is awesome'

###  Count the occurrences of a word in a string

In [3]:
# Word to count
word_to_count = "able"

# Split the string into words
words = my_strg.split()

# Initialize a count variable
count = 0

# Iterate through the words and count occurrences
for word in words:
    if word == word_to_count:
        count += 1

# Display the count
print(f"The word '{word_to_count}' appears {count} times in the string.")

The word 'able' appears 1 times in the string.

### Find the first occurrence of a word in a string

In [11]:
input_string = "This is a sample sentence."
index = input_string.find("is")
# index will be 2, which is the position where "is" first appears.
index

2

### Find the last occurrence of a word in a string.

In [9]:
input_string = "This is a sample sentence."
index = input_string.find("is")
# index will be 2, which is the position where "is" first appears.
index

2

In [14]:
# Find the last occurrence of a word in a string

input_string = "This is a sample sentence."
index = input_string.rfind("is")
# index will be 5, which is the position where the last "is" appears.
index

5

### Split a string into a list of words

In [16]:
# split using .split funtion by default

input_string.split()

['This', 'is', 'a', 'sample', 'sentence.']

 ### Join a list of words into a string.

In [18]:
joined_list = ''.join(input_string)

joined_list

'This is a sample sentence.'

### Convert a string where words are separated by spaces to one where words are separated by underscores.

In [25]:
result_string = input_string.replace(' ', '_')
result_string

'This_is_a_sample_sentence.'

### Convert a string to title case

In [7]:
normal_string = 'Behold the lamb of God'

# converting to title case
normal_string.title()

'Behold The Lamb Of God'

### Find the longest word in a string

In [34]:
# input sentence

sentence = 'I am the righteousness of God'

# spliting the sentence

words = sentence.split()

longest_word = ''
max_length = 0

for word in words:
    if len(word) > max_length:
        longest_word = word
        max_length = len(word)
        
# Print the longest word
print(f"The longest word in the string is '{longest_word}")

The longest word in the string is 'righteousness

### Find the shortest word in a string

In [36]:
# spliting the sentence

words = sentence.split()

longest_word = ''
min_length = 1

for word in words:
    if len(word) <= max_length:
        shortest_word = word
        min_length = len(word)
        
# Print the longest word
print(f"The longest word in the string is '{shortest_word}")

The longest word in the string is 'I

### Reverse the order of words in a string.

In [41]:
# Input string
sentence1 = "Only the best will continue to happen"

# Split the string into words
words = sentence1.split()

# Reverse the order of words
words.reverse()

# Join the reversed words back into a string
reversed_sentence = " ".join(words)

# Print the reversed string
print(reversed_sentence)

happen to continue will best the Only

### Check if a string is alphanumeric.

In [43]:
# Input string
imput = "Beautiful123"

# Check if the string is alphanumeric
if imput.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

### Extract all digits from a string.

In [45]:
# Input string
input_string = "Hello123, the price is $38.20."

# Initialize an empty string to store the extracted digits
extracted_digits = ""

# Iterate through each character in the string
for char in input_string:
    if char.isdigit():
        extracted_digits += char

# Print the extracted digits
print("Extracted digits:", extracted_digits)

Extracted digits: 1233820

### Extract all alphabets from a string.

In [1]:
# Input string
sentence2 = "Hello123, the real amount is $38.20."

# Initialize an empty string to store the extracted alphabetic characters
alpha_chars = ""

# Iterate through each character in the string
for char in sentence2:
    if char.isalpha():
        alpha_chars += char

# Print the extracted alphabetic characters
print("Extracted alphabetic characters:", alpha_chars)

Extracted alphabetic characters: Hellotherealamountis

### Count the number of uppercase letters in a string.

In [9]:
# Input string
input_string = "Hello, World! How Are You?"

# Initialize a variable to count uppercase letters
uppercase_count = 0

# Iterate through each character in the string
for char in input_string:
    if char.isupper():
        uppercase_count += 1

# Print the count of uppercase letters
print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 5

### Count the number of lowercase letters in a string

In [10]:

# Initialize a variable to count lowercase letters
lowercase_count = 0

# Iterate through each character in the string
for char in input_string:
    if char.islower():
        lowercase_count += 1

# Print the count of lowercase letters
print("Number of lowercase letters:", lowercase_count)

Number of lowercase letters: 14

### Swap the case of each character in a string.

In [11]:
# Swap the case of each character
swapped_string = input_string.swapcase()

# Print the swapped string
print("Swapped string:", swapped_string)

Swapped string: hELLO, wORLD! hOW aRE yOU?

### Remove a specific word from a string.

In [12]:
# Word to remove
word_to_remove = "World"

# Remove the word from the string
modified_string = input_string.replace(word_to_remove, '')

# Print the modified string
print("Modified string is:", modified_string)

Modified string is: Hello, ! How Are You?

###  Replace multiple spaces in a string with a single space.

In [14]:
import re

# Input string with multiple spaces
input_string = "This    is     a   string   with   multiple    spaces."

# Replace multiple spaces with a single space using regular expressions
modified_string = re.sub(r'\s+', ' ', input_string)

# Print the modified string
print("Modified string:", modified_string)

Modified string: This is a string with multiple spaces.

### Check if a string is a valid URL.

In [15]:
from urllib.parse import urlparse

# Function to check if a string is a valid URL
def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

# Test cases
url1 = "https://www.example.com"
url2 = "invalid-url"
url3 = "ftp://ftp.example.com"

# Check if the URLs are valid
print("Is url1 valid?", is_valid_url(url1))
print("Is url2 valid?", is_valid_url(url2))
print("Is url3 valid?", is_valid_url(url3))

Is url1 valid? True
Is url2 valid? False
Is url3 valid? True

### Extract the protocol (http or https) from a URL string.

In [16]:
# Test URL
url = "https://www.example.com/path/to/page"

# Find the index of the first colon in the URL
colon_index = url.find(":")
if colon_index != -1:
    # Extract the protocol by slicing the string up to the colon
    protocol = url[:colon_index]
else:
    protocol = "Unknown"

# Print the extracted protocol
print("Protocol:", protocol)

Protocol: https

### Find the frequency of each character in a string

In [1]:
def character_frequency(input_string):
    # Creating an empty dictionary to store character frequencies
    frequency_dict = {}

    # Counting the frequency of each character
    for char in input_string:
        # Using get() to set default value to 0 if the key doesn't exist
        frequency_dict[char] = frequency_dict.get(char, 0) + 1

    return frequency_dict

# Example usage
input_string = "happy, world!"
result = character_frequency(input_string)

# Displaying the result
for char, frequency in result.items():
    print(f"Character '{char}' occurs {frequency} times.")

Character 'h' occurs 1 times.
Character 'a' occurs 1 times.
Character 'p' occurs 2 times.
Character 'y' occurs 1 times.
Character ',' occurs 1 times.
Character ' ' occurs 1 times.
Character 'w' occurs 1 times.
Character 'o' occurs 1 times.
Character 'r' occurs 1 times.
Character 'l' occurs 1 times.
Character 'd' occurs 1 times.
Character '!' occurs 1 times.

#### 37. Remove all punctuation from a string.

In [14]:
string1 = 'big_data, thebignining,is here! no worries.'
punctuations = ',.@!'

# loopint through the punctuations to find out if it is string1
for letters in punctuations:
    
    if letters in string1:
        string1 = string1.replace(letters, '')

print(string1)

big_data thebigniningis here no worries

#### 38. Check if a string contains only digits

In [18]:
def contain_only_digit(string2):
    return string2.isdigit()

# use case
string = '248567'
outcome = contain_only_digit(string)

if outcome:
    print('The string contains only digit')
else:
    print('The string is a combination of digits and some other things')

The string contains only digit

#### 39. Check if a string contains only alphabets.

In [22]:
def contain_only_alphabet(string3):
     return all(char.isalpha() or char.isspace() for char in string3)

# use case
string = 'I am blessed'
outcome = contain_only_alphabet(string)

if outcome:
    print('The string contains only alphabet')
else:
    print('The string is a combination of digits and some other things')

The string contains only alphabet

#### 40. Convert a string to a list of characters.

In [25]:
def string_conversion(input_string):
    output = list(input_string)
    
    return output

string_conversion('Charles')

['C', 'h', 'a', 'r', 'l', 'e', 's']

#### 41. Check if two strings are anagrams.

In [30]:
def if_anagram(strg1, strg2):
    # Remove spaces and convert to lowercase for case-insensitive comparison
    strg1 = strg1.replace(" ", "").lower()
    strg2 = strg2.replace(" ", "").lower()

    # Check if the sorted characters in both strings are the same
    return sorted(strg1) == sorted(strg2)

# Example usage:
string1 = "combine"
string2 = "moment"

if if_anagram(string1, string2):
    print(f"{string1} and {string2} are anagrams.")
else:
    print(f"{string1} and {string2} are not anagrams.")

combine and moment are not anagrams.

#### 42. Encode a string using a Caesar cipher.

In [31]:
def caesar_cipher_encode(text, shift):
    result = ""

    for char in text:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            is_upper = char.isupper()

            # Shift the character by the specified amount
            shifted_char = chr((ord(char) + shift - ord('A' if is_upper else 'a')) % 26 + ord('A' if is_upper else 'a'))

            result += shifted_char
        else:
            # If the character is not alphabetic, leave it unchanged
            result += char

    return result

# Example usage:
original_text = "Hello, World!"
shift_amount = 3
encoded_text = caesar_cipher_encode(original_text, shift_amount)

print(f"Original text: {original_text}")
print(f"Encoded text: {encoded_text}")

Original text: Hello, World!
Encoded text: Khoor, Zruog!

In [33]:
def caesar_cipher_decode(encoded_text, shift):
    # Use the caesar_cipher_encode function with a negative shift to decode
    return caesar_cipher_encode(encoded_text, -shift)

# Example usage:
encoded_text = "Khoor, Zruog!"
shift_amount = 3
decoded_text = caesar_cipher_decode(encoded_text, shift_amount)

print(f"Encoded text: {encoded_text}")
print(f"Decoded text: {decoded_text}")

Encoded text: Khoor, Zruog!
Decoded text: Hello, World!

#### 44. Find the most frequent word in a string.

In [34]:
import re

def most_frequent_word(text):
    # Tokenize the words using regex
    words = re.findall(r'\b\w+\b', text.lower())

    # Count the frequency of each word using a dictionary
    word_counts = {}
    for word in words:
        word_counts[word] = word_counts.get(word, 0) + 1

    # Find the most common word
    most_common_word = max(word_counts, key=word_counts.get)
    frequency = word_counts[most_common_word]

    return most_common_word, frequency

# Example usage:
input_string = "This is a sample string. The word 'sample' appears most frequently in this string."
result_word, result_frequency = most_frequent_word(input_string)

print(f"The most frequent word is '{result_word}' with a frequency of {result_frequency}.")

The most frequent word is 'this' with a frequency of 2.

#### 45. Find all unique words in a string.

In [35]:
import re

def unique_words(text):
    # Tokenize the words using regex
    words = re.findall(r'\b\w+\b', text.lower())

    # Use a set to store unique words
    unique_word_set = set(words)

    return list(unique_word_set)

# Example usage:
input_string = 'My help is in the name of the Lord who make heaven and earth'
unique_words_list = unique_words(input_string)

print("Unique words:", unique_words_list)

Unique words: ['make', 'earth', 'lord', 'and', 'who', 'help', 'is', 'in', 'the', 'name', 'my', 'of', 'heaven']

#### 46. Count the number of syllables in a string

In [37]:
def count_syllables(word):
    vowels = "aeiouy"
    count = 0
    prev_char_was_vowel = False

    for char in word.lower():
        if char in vowels:
            if not prev_char_was_vowel:
                count += 1
            prev_char_was_vowel = True
        else:
            prev_char_was_vowel = False

    return count

def count_syllables_in_sentence(sentence):
    words = sentence.split()
    total_syllables = sum(count_syllables(word) for word in words)
    return total_syllables

# Example usage:
input_sentence = "He makes a way where there seems to be no way"
syllable_count = count_syllables_in_sentence(input_sentence)

print(f"The sentence '{input_sentence}' has {syllable_count} syllables.")

The sentence 'He makes a way where there seems to be no way' has 14 syllables.

#### 47. Check if a string contains any special characters.

In [4]:
def contains_special_letters(input_strg):
    special_letters = '$#@%!'
    
    # loop through the test string to see if it contains speical letters
    for char in input_strg:
        if char in special_letters:
            print('The string contains some special characters')
            break 
    else:
        print('The string does not contain any special character')

# Use case
test_string = "Hello, this is a test string with special characters: @#$%"
contains_special_letters(test_string)

The string contains some special characters

#### 48. Remove the nth word from a string.

In [6]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    
    if 1 <= n <= len(words):
        del words[n-1]
        result_string = ' '.join(words)
        return result_string
    else:
        return "Invalid value of n. It should be between 1 and the number of words in the string."

# Example usage:
original_string = "This is a sample sentence for testing the function."
n_to_remove = 3  # Replace with the desired value of n

result = remove_nth_word(original_string, n_to_remove)
print(result)

This is sample sentence for testing the function.

#### 49. Insert a word at the nth position in a string.

In [7]:
def insert_word_at_nth_position(input_string, n, word_to_insert):
    words = input_string.split()

    if 1 <= n <= len(words) + 1:
        words.insert(n-1, word_to_insert)
        result_string = ' '.join(words)
        return result_string
    else:
        return "Invalid value of n. It should be between 1 and the number of words + 1 in the string."

# Example usage:
original_string = "This is a sample sentence for testing the function."
word_to_insert = "new_word"
n_to_insert_at = 3  # Replace with the desired value of n

result = insert_word_at_nth_position(original_string, n_to_insert_at, word_to_insert)
print(result)

This is new_word a sample sentence for testing the function.

#### 50. Convert a CSV string to a list of lists

In [8]:
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Create a file-like object from the CSV string
    csv_file = StringIO(csv_string)

    # Use the csv.reader to read the CSV content
    csv_reader = csv.reader(csv_file)

    # Convert the CSV content to a list of lists
    csv_list = [row for row in csv_reader]

    return csv_list

# Example usage:
csv_string = "Name, Age, City\nJohn, 25, New York\nAlice, 30, London\nBob, 28, Paris"
result = csv_string_to_list(csv_string)
print(result)

[['Name', ' Age', ' City'], ['John', ' 25', ' New York'], ['Alice', ' 30', ' London'], ['Bob', ' 28', ' Paris']]

#### List Based Practice Problem :
1. Create a list with integers from 1 to 10.

In [10]:
list1 = [1,2,3,4,5,6,7,8,9,10]

#### 2. Find the length of a list without using the `len()` function.

In [12]:
lenght_of_list = 0

# looping through the list
for n in list1:
    lenght_of_list += 1
print(f' the lenght of the elements on the list is {lenght_of_list}')

 the lenght of the elements on the list is 10

#### 3. Append an element to the end of a list

In [13]:
list1.append(11)

# print the new list
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

#### 4. Insert an element at a specific index in a list.

In [14]:
list1.insert(2, 4)

# print the new list
print(list1)

[1, 2, 4, 3, 4, 5, 6, 7, 8, 9, 10, 11]

#### 5. Remove an element from a list by its value.

In [15]:
list1.pop()

# print the new list
print(list1)

[1, 2, 4, 3, 4, 5, 6, 7, 8, 9, 10]

#### 6. Remove an element from a list by its index

In [17]:
list1.remove(3)

# print the new list
print(list1)

[1, 4, 4, 5, 6, 7, 8, 9, 10]

#### 7. Check if an element exists in a list.

In [22]:
# loop through the list
item = 5
for element in list1:
    if item == element:
        print(f'Yes {item} exists on the list')

Yes 5 exists on the list

#### 8. Find the index of the first occurrence of an element in a list.

In [25]:
# Find the index of the first occurrence of 6
index_of_6 = list1.index(6)

print(f"The index of the first occurrence of 4 is: {index_of_4}")

The index of the first occurrence of 4 is: 4

#### 9. Count the occurrences of an element in a list.

In [28]:
count_of_4 = list1.count(4)

print(f"The number of occurrences of 4 in the list is: {count_of_4}")

The number of occurrences of 4 in the list is: 2

#### 10. Reverse the order of elements in a list.

In [30]:
list1[::-1]

[10, 9, 8, 7, 6, 5, 4, 4, 1]

#### 11. Sort a list in ascending order.

In [32]:
list2 = [2,6,4,5,8,4,3,2,9,4,1,5,7]

list2.sort()
list2

[1, 2, 2, 3, 4, 4, 4, 5, 5, 6, 7, 8, 9]

#### 12. Sort a list in descending order

In [52]:
list3 = [3,5,4,5,1,5,8,3,4,2]

reversedList = sorted(list3, reverse=True)
reversedList

[8, 5, 5, 5, 4, 4, 3, 3, 2, 1]

#### 13. Create a list of even numbers from 1 to 20
#### 14. Create a list of odd numbers from 1 to 20.

In [56]:
even_numbers = []
odd_numbers = []

for i in range(1, 20+1):
    if i%2 == 0:
        even_numbers.append(i)
    else:
        odd_numbers.append(i)
    
# print the list of even numbers
print(f'The list of even numbers are: {even_numbers}')
print(f'The list of odd numbers are: {odd_numbers}')

The list of even numbers are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
The list of odd numbers are: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### 15. Find the sum of all elements in a list.

In [57]:
list4 = [1,2,3,4,5]

# initialize the sum to 0
total = 0

# loop through the list
for elements in list4:
    total += elements

# print the sum of elements on the list
print(f'The sum of elements on the list is: {total}')

The sum of elements on the list is: 15

#### 16. Find the maximum value in a list.

In [60]:
# using list3 as case study
maximum = 0

for value in list3:
    if value > maximum:
        maximum = value

# print the maximum value
print(f'{maximum} is the maximum value on the list')

8 is the maximum value on the list

#### 17. Find the minimum value in a list.

In [61]:
# using list3 as case study
minimum = 1

for value in list3:
    if value < minimum:
        maximum = value

# print the maximum value
print(f'{minimum} is the minimum value on the list')

1 is the maximum value on the list

#### 18. Create a list of squares of numbers from 1 to 10

In [63]:
squaredlist = []

for i in range(1, 10+1):
    squaredlist.append(i**2)

# print the squared list
print(f'The squared list is: {squaredlist}')

The squared list is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### 19. Create a list of random numbers.

In [64]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Print the result
print(random_numbers)

[85, 67, 47, 59, 50]

#### 20. Remove duplicates from a list.

In [67]:
# Define a list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates while preserving order
unique_list = []
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)

# Print the result
print("List with duplicates:", my_list)
print("List without duplicates (preserving order):", unique_list)

List with duplicates: [1, 2, 2, 3, 4, 4, 5]
List without duplicates (preserving order): [1, 2, 3, 4, 5]

#### 21. Find the common elements between two lists.

In [1]:
# Define two lists
list5 = [1, 2, 3, 4, 5]
list6 = [3, 4, 5, 6, 7]

# Find common elements using set intersection
common_elements_set = set(list5) & set(list6)

# Convert the result back to a list
common_elements_list = list(common_elements_set)

# Print the result
print("Common elements:", common_elements_list)

Common elements: [3, 4, 5]

#### 22. Find the difference between two lists.

In [4]:
# Define two lists
list7 = [1, 2, 3, 4, 5]
list8 = [3, 4, 5, 6, 7]

# Find the difference using set operations
difference_set7 = set(list7) - set(list8)
difference_set8 = set(list8) - set(list7)

# Convert the results back to lists
difference_list7 = list(difference_set7)
difference_list8 = list(difference_set8)

# Print the results
print("Elements in list7 but not in list8:", difference_list7)
print("Elements in list8 but not in list7:", difference_list8)

Elements in list7 but not in list8: [1, 2]
Elements in list8 but not in list7: [6, 7]

#### 23. Merge two lists.

In [5]:
# Define two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the lists using the extend method
list1.extend(list2)

# Print the result
print("Merged list:", list1)

Merged list: [1, 2, 3, 4, 5, 6]

#### 24. Multiply all elements in a list by 2.

In [8]:
listmultiple = []

for i in list1:
    listmultiple.append(i*2)

# print the squared list
print(f'The multiplied list is: {listmultiple}')

The multiplied list is: [2, 4, 6, 8, 10, 12]

#### 25. Filter out all even numbers from a list.

In [10]:
even_numbers = []

for i in range(1, 15+1):
    if i%2 == 0:
        even_numbers.append(i)
    
# print the list of even numbers
print(f'The list of even numbers are: {even_numbers}')

The list of even numbers are: [2, 4, 6, 8, 10, 12, 14]

#### 26. Convert a list of strings to a list of integers

In [12]:
# Define a list of strings
string_list = ["1", "2", "3", "4", "5"]

# Convert the list of strings to a list of integers
integer_list = [int(x) for x in string_list]

# Print the result
print("List of strings:", string_list)
print("List of integers:", integer_list)

List of strings: ['1', '2', '3', '4', '5']
List of integers: [1, 2, 3, 4, 5]

#### 27. Convert a list of integers to a list of string

In [1]:
# Define a list of integers
integer_list = [1, 2, 3, 4, 5]

# Convert the list of integers to a list of strings
string_list = [str(x) for x in integer_list]

# Print the result
print("List of integers:", integer_list)
print("List of strings:", string_list)

List of integers: [1, 2, 3, 4, 5]
List of strings: ['1', '2', '3', '4', '5']

#### 28. Flatten a nested list.

In [2]:
# Define a nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]

# Flatten the nested list using list comprehension
flattened_list = [item for sublist in nested_list for item in sublist]

# Print the result
print("Nested list:", nested_list)
print("Flattened list:", flattened_list)

Nested list: [[1, 2, 3], [4, 5], [6, 7, 8]]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

#### 29. Create a list of the first 10 Fibonacci numbers.

In [3]:
def fib_series(n):
    fib_list = [0, 1]
    while len(fib_list)<n:
        fib_list.append(fib_list[-1] + fib_list[-2])
    return fib_list

# getting the output
output = fib_series(10)
output

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#### 30. Check if a list is sorted.

In [5]:
def is_sorted_explicit(my_list):
    # Check if the list is sorted in ascending order
    for i in range(len(my_list) - 1):
        if my_list[i] > my_list[i + 1]:
            return False

    # If it goes through the entire loop without finding violations, it's sorted
    return True

# Example usage:
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [5, 2, 8, 1, 6]

print(is_sorted_explicit(sorted_list))    # Output: True
print(is_sorted_explicit(unsorted_list))  # Output: False

True
False

#### 31. Rotate a list to the left by `n` positions.

In [6]:
def rotate_left(my_list, n):
    # Calculate the effective rotation index
    rotation_index = n % len(my_list)
    
    # Perform the left rotation using slicing
    rotated_list = my_list[rotation_index:] + my_list[:rotation_index]
    
    return rotated_list

# Example usage:
original_list = [1, 2, 3, 4, 5]
rotation_positions = 2

result = rotate_left(original_list, rotation_positions)
print("Original list:", original_list)
print(f"List rotated to the left by {rotation_positions} positions:", result)

Original list: [1, 2, 3, 4, 5]
List rotated to the left by 2 positions: [3, 4, 5, 1, 2]

#### 32. Rotate a list to the right by `n` positions

In [7]:
def rotate_right(my_list, n):
    # Calculate the effective rotation index
    rotation_index = len(my_list) - n % len(my_list)
    
    # Perform the right rotation using slicing
    rotated_list = my_list[rotation_index:] + my_list[:rotation_index]
    
    return rotated_list

# Example usage:
original_list = [1, 2, 3, 4, 5]
rotation_positions = 2

result = rotate_right(original_list, rotation_positions)
print("Original list:", original_list)
print(f"List rotated to the right by {rotation_positions} positions:", result)

Original list: [1, 2, 3, 4, 5]
List rotated to the right by 2 positions: [4, 5, 1, 2, 3]

#### 33. Create a list of prime numbers up to 50.

In [8]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create a list of prime numbers up to 50
prime_numbers_up_to_50 = [num for num in range(2, 51) if is_prime(num)]

print("List of prime numbers up to 50:", prime_numbers_up_to_50)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

#### 34. Split a list into chunks of size `n`.

In [9]:
def split_into_chunks(my_list, chunk_size):
    return [my_list[i:i + chunk_size] for i in range(0, len(my_list), chunk_size)]

# Example usage:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3

result = split_into_chunks(original_list, chunk_size)
print(f"Original list: {original_list}")
print(f"List split into chunks of size {chunk_size}: {result}")

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9]
List split into chunks of size 3: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

#### 35. Find the second largest number in a list.

In [2]:
def second_largest(mainlist):
    if len(list1) < 2:
        return none
    
    return mainlist[-2]

list1 = [4, 7, 1, 9, 3, 5, 8]
mainlist = sorted(list1)

# getting the output
output = second_largest(mainlist)

# print the output
print(f'The second largest number on the list is: {output}')

The second largest number on the list is: 8

#### 36. Replace every element in a list with its square.

In [1]:
def square_elements(my_list):
    return [num**2 for num in my_list]

# Example usage:
original_list = [1, 2, 3, 4, 5]
squared_list = square_elements(original_list)

print(f"Original list: {original_list}")
print(f"List with squared elements: {squared_list}")

Original list: [1, 2, 3, 4, 5]
List with squared elements: [1, 4, 9, 16, 25]

#### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [2]:
def list_to_dict(my_list):
    return {value: index for index, value in enumerate(my_list)}

# Example usage:
original_list = ['a', 'b', 'c', 'd']
dict_from_list = list_to_dict(original_list)

print(f"Original list: {original_list}")
print(f"Dictionary from list: {dict_from_list}")

Original list: ['a', 'b', 'c', 'd']
Dictionary from list: {'a': 0, 'b': 1, 'c': 2, 'd': 3}

#### 38. Shuffle the elements of a list randomly.

In [3]:
import random

def shuffle_list(my_list):
    shuffled_list = my_list.copy()  # Create a copy to avoid modifying the original list
    random.shuffle(shuffled_list)
    return shuffled_list

# Example usage:
original_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(original_list)

print(f"Original list: {original_list}")
print(f"Shuffled list: {shuffled_list}")

Original list: [1, 2, 3, 4, 5]
Shuffled list: [1, 3, 4, 2, 5]

#### 39. Create a list of the first 10 factorial numbers

In [4]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Example usage:
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

#### 40. Check if two lists have at least one element in common.

In [5]:
def common_elements(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    
    # Check if there is an intersection
    return bool(set1.intersection(set2))

# Example usage:
list_a = [1, 2, 3, 4, 5]
list_b = [5, 6, 7, 8, 9]

result = common_elements(list_a, list_b)
print(f"List A: {list_a}")
print(f"List B: {list_b}")
print(f"Do the lists have at least one element in common? {result}")

List A: [1, 2, 3, 4, 5]
List B: [5, 6, 7, 8, 9]
Do the lists have at least one element in common? True

#### 41. Remove all elements from a list.

In [2]:
list_a = [1, 2, 3, 4, 5]

In [3]:
list_a.clear()
list_a

[]

#### 42. Replace negative numbers in a list with 0.

In [4]:
list_b = [5,-6,2,3,-4,-1,8]

# create an empty list
new_list_b = []

for num in list_b:
    if num < 0:
        num = 0
    new_list_b.append(num)

# print the new list
new_list_b

[5, 0, 2, 3, 0, 0, 8]

#### 43. Convert a string into a list of words.

In [7]:
def word_list(string):
    converted_list = string.split()
    
    return converted_list

my_string = 'My name is Charles Adikankwu'

# Calling the function
output = word_list(my_string)

# print the output
output

['My', 'name', 'is', 'Charles', 'Adikankwu']

In [8]:
type(output)

list

#### 44. Convert a list of words into a string.

In [16]:
my_name = ['My', 'name', 'is', 'Charles', 'Adikankwu']

words_string = ' '.join(my_name)
words_string

'My name is Charles Adikankwu'

#### 45. Create a list of the first `n` powers of 2.

In [18]:
n = 4  # You can replace this with any desired value of n

powers_of_2 = [2**i for i in range(n)]

print(powers_of_2)

[1, 2, 4, 8]

#### 46. Find the longest string in a list of strings.

In [26]:
# I will be using output list here

longest_string = ''

for words in output:
    if len(words) > len(longest_string):
        longest_string = words
    
print(f'The longest string in the list of string is {longest_string}')

The longest string in the list of string is Adikankwu

#### 47. Find the shortest string in a list of strings.

In [5]:
list_of_string = ['who', 'God', 'don', 'bless', 'no', 'man', 'can', 'curse']

shortest_string = ('inf')

for word in list_of_string:
    if len(word) < len(shortest_string):
        shortest_string = word

print(f'The shortest string in the list of strings is: {shortest_string}')

The shortest string in the list of strings is: no

#### 48. Create a list of the first `n` triangular numbers.

In [6]:
n = 5  # You can change this to any positive integer

triangular_numbers = []

for i in range(1, n + 1):
    triangular_numbers.append(i * (i + 1) // 2)

print(f"The first {n} triangular numbers are: {triangular_numbers}")

The first 5 triangular numbers are: [1, 3, 6, 10, 15]

#### 49. Check if a list contains another list as a subsequence.

In [7]:
def is_subsequence(sub, lst):
    sub_iter = iter(sub)
    return all(item in lst or item == next(sub_iter, None) for item in lst)

# Example usage:
main_list = [1, 2, 3, 4, 5, 6, 7, 8]
sub_sequence = [2, 5, 7]

if is_subsequence(sub_sequence, main_list):
    print("The list is a subsequence.")
else:
    print("The list is not a subsequence.")

The list is a subsequence.

#### 50. Swap two elements in a list by their indices.

In [10]:
def swap_elements(lst, index1, index2):
    # Check if indices are valid
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        # Swap elements without using a temporary variable
        lst[index1], lst[index2] = lst[index2], lst[index1]
        return lst
    else:
        print("Invalid indices.")

# Example usage:
my_list = [1, 2, 3, 4, 5]

# Swap elements at index 1 and 3
result_list = swap_elements(my_list, 1, 3)

print("Original List:", my_list)
print("List after swapping:", result_list)

Original List: [1, 4, 3, 2, 5]
List after swapping: [1, 4, 3, 2, 5]

#### Tuple Based Practice Problem :
1. Create a tuple with integers from 1 to 5

In [11]:
my_tuple = (1,2,3,4,5)

#### 2. Access the third element of a tuple.

In [14]:
print(f'The third element of the tuple is: {my_tuple[2]}')

The third element of the tuple is: 3

#### 3. Find the length of a tuple without using the `len()` function

In [17]:
lenght_of_tuple = 0

# looping through the list
for n in my_tuple:
    lenght_of_tuple += 1
print(f' the lenght of tuple is {lenght_of_tuple}')

 the lenght of tuple is 5

#### 4. Count the occurrences of an element in a tuple.

In [18]:
my_tuple = (1, 2, 3, 4, 2, 5, 2)

# Count occurrences of the element 2 in the tuple
occurrences = my_tuple.count(2)

print(f"The element 2 occurs {occurrences} times in the tuple.")

The element 2 occurs 3 times in the tuple.

#### 5. Find the index of the first occurrence of an element in a tuple.

In [19]:
# Find the index of the first occurrence of 6
index_of_2 = my_tuple.index(2)

print(f"The index of the first occurrence of 2 is: {index_of_2}")

The index of the first occurrence of 2 is: 1

#### 6. Check if an element exists in a tuple

In [20]:
my_tuple = (1, 2, 3, 4, 5)

# Check if the element 3 exists in the tuple
element_exists = 3 in my_tuple

if element_exists:
    print("The element 3 exists in the tuple.")
else:
    print("The element 3 does not exist in the tuple.")

The element 3 exists in the tuple.

#### 7. Convert a tuple to a list

In [5]:
my_tuple = (1, 2, 3, 4, 5)

list_tuple = list(my_tuple)

# print the coverted tuple
print(list_tuple)

# check the data type
type(list_tuple)

[1, 2, 3, 4, 5]

list

#### 8. Convert a list to a tuple.

In [6]:
list9 = [4,1,2,6,8,5]

coverted_list = tuple(list9)

# print the coverted tuple
print(coverted_list)

# check the data type
type(coverted_list)

(4, 1, 2, 6, 8, 5)

tuple

#### 9. Unpack the elements of a tuple into variables.

In [8]:
thisTuple = (4,5,6)

# unpacking the tuple
a,b,c = thisTuple[0], thisTuple[1], thisTuple[2]

# print the unpacked tuple
print(a)
print(b)
print(c)

4
5
6

####  10. Create a tuple of even numbers from 1 to 10.
#### 11. Create a tuple of odd numbers from 1 to 10.

In [13]:
# create an empty list
even_tuple = []
odd_tuple = []

# loop through numbers from 1 to 10
for num in range(1, 10+1):
    if num%2 == 0:
        even_tuple.append(num)
    else:
        odd_tuple.append(num)

# print the list and covert to tuple
print(f'The tuple of even numbers from 1 to 10 are: {tuple(even_tuple)}')
print(f'The tuple of odd numbers from 1 to 10 are: {tuple(odd_tuple)}')

The tuple of even numbers from 1 to 10 are: (2, 4, 6, 8, 10)
The tuple of odd numbers from 1 to 10 are: (1, 3, 5, 7, 9)

#### 12. Concatenate two tuples

In [18]:
tuple_a = (2,6,4)
tuple_b = (4,8,5)

# Concatenate the two tuples
concatenated_tuple = tuple_a + tuple_b

# print the output
print(concatenated_tuple)

(2, 6, 4, 4, 8, 5)

#### 13. Repeat a tuple three times.

In [19]:
# i use tuple_a on the above cell as use case here
tuple_a * 3

(2, 6, 4, 2, 6, 4, 2, 6, 4)

#### 14. Check if a tuple is empty.

In [21]:
# i use tuple_b on the above cell as use case here
if tuple_b == ():
    print('The tuple is empty')
else:
    print('There are elements in the tuple')

There are elements in the tuple

#### 15. Create a nested tuple.

In [22]:
# Create a nested tuple
nested_tuple = ((2, 4, 6), ('me', 'you', 'us'), (True, False))

print(nested_tuple)

((2, 4, 6), ('me', 'you', 'us'), (True, False))

#### 16. Access the first element of a nested tuple

In [23]:
nested_tuple[0]

(2, 4, 6)

#### 17. Create a tuple with a single element

In [24]:
singleElementTuple = (8)

# print the single element tuple
print(singleElementTuple)

8

#### 18. Compare two tuples

In [26]:
# Two tuples to be compared
tuple_a = (2,6,4)
tuple_b = (4,8,5)

# Define two tuples
tuple_a = (2, 6, 4)
tuple_b = (4, 8, 5)

# Compare tuples
if tuple_a == tuple_b:
    print("The tuples are equal.")
else:
    print("The tuples are not equal.")

# Compare the sum of elements in the tuples
if sum(tuple_a) > sum(tuple_b):
    print("The sum of elements in tuple_a is greater than tuple_b.")
else:
    print("The sum of elements in tuple_a is not greater than tuple_b.")

The tuples are not equal.
The sum of elements in tuple_a is not greater than tuple_b.

#### 19. Delete a tuple.

In [ ]:
# Original tuple
my_tuple = (1, 2, 3, 4, 5)

# Delete the entire tuple
del my_tuple

#### 20. Slice a tuple.

In [28]:
my_tuple = (1, 2, 3, 4, 5)

# slicing the tuple
my_tuple[:5] #This print from the first element to 4th element

(1, 2, 3, 4, 5)

#### 21. Find the maximum value in a tuple.

In [29]:
# tuple b will be my use case here
max(tuple_b)

8

#### 22. Find the minimum value in a tuple.

In [30]:
# tuple b will be my use case here
min(tuple_b)

4

#### 23. Convert a string to a tuple of characters.

In [37]:
string2 = 'Charzy'

# convert the string
converted_string = tuple(string2)

# print the coverted string
print(converted_string)

('C', 'h', 'a', 'r', 'z', 'y')

#### 24. Convert a tuple of characters to a string

In [38]:
# Original tuple
char_tuple = ('C', 'h', 'a', 'r', 'z', 'y')

# Convert the tuple to a string
converted_string = ''.join(char_tuple)

# Print the converted string
print(converted_string)

Charzy

#### 25. Create a tuple from multiple data types.

In [39]:
# Create a tuple with multiple data types
mixed_tuple = (1, 'hello', 3.14, True, [5, 6, 7])

# Print the tuple
print(mixed_tuple)

(1, 'hello', 3.14, True, [5, 6, 7])

#### 26. Check if two tuples are identical.

In [40]:
# Define two tuples
tuple_a = (1, 5, 3)
tuple_b = (4, 2, 3)

# Check if the tuples are identical
if tuple_a == tuple_b:
    print("The tuples are identical.")
else:
    print("The tuples are not identical.")

The tuples are not identical.

#### 27. Sort the elements of a tuple

In [41]:
sortedTuple = sorted(tuple_a)

# print the sorted tuple
sortedTuple

[1, 3, 5]

#### 28. Convert a tuple of integers to a tuple of strings

In [3]:
 # Original tuple
int_tuple = (2,5,8,4,6)

# Convert the tuple to a string
converted_string = tuple(str(val)for val in int_tuple)

# Print the converted string
print(converted_string)

('2', '5', '8', '4', '6')

#### 29. Convert a tuple of strings to a tuple of integers

In [5]:
string_tuple = ('2', '5', '8', '4', '6')

# Convert the tuple to a string
converted_int = tuple(int(val)for val in string_tuple)

# Print the converted integer
print(converted_int)

(2, 5, 8, 4, 6)

#### 30. Merge two tuples.

In [6]:
tuple_a = (2,6,4)
tuple_b = (4,8,5)

# Concatenate the two tuples
concatenated_tuple = tuple_a + tuple_b

# print the output
print(concatenated_tuple)

(2, 6, 4, 4, 8, 5)

#### 31. Flatten a nested tuple.

In [7]:
def flatten_nested_tuple(nested_tuple):
    flattened_tuple = ()
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened_tuple += flatten_nested_tuple(item)
        else:
            flattened_tuple += (item,)
    return flattened_tuple

# Example of a nested tuple
nested_tuple = (1, (2, 3), (4, (5, 6)))

# Flatten the nested tuple
flattened_tuple = flatten_nested_tuple(nested_tuple)

# Print the flattened tuple
print(flattened_tuple)

(1, 2, 3, 4, 5, 6)

#### 32. Create a tuple of the first 5 prime numbers.

In [8]:
#### # Function to check if a number is prime
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate a tuple of the first 5 prime numbers
first_5_primes = tuple(num for num in range(2, 20) if is_prime(num))[:5]

# Print the tuple of the first 5 prime numbers
print(first_5_primes)

(2, 3, 5, 7, 11)

#### 33. Check if a tuple is a palindrome

In [9]:
def is_palindrome_tuple(input_tuple):
    return input_tuple == input_tuple[::-1]

# Test the function with an example
example_tuple = (1, 2, 3, 2, 1)
result = is_palindrome_tuple(example_tuple)

# Print the result
if result:
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

#### 34. Create a tuple of squares of numbers from 1 to 5.

In [11]:
# To square numbers from 1 to 5

a_tuple = []

# loop through the numbers by
for num in range(1, 6):
    a_tuple.append(num**2)
    
squared_tuple = tuple(a_tuple)

# print the tuple of squares
print(squared_tuple)

(1, 4, 9, 16, 25)

#### 35. Filter out all even numbers from a tuple

In [15]:
# Assuming the tuple contains elements from 1 tp 20

# initialize the empty list to be converted to tuple
another_tuple = []

for elem in range(1, 21):
    if elem % 2 == 0:
        another_tuple.append(elem)

filteredevennumbers = tuple(another_tuple)

# print the filtered numbers
print(filteredevennumbers)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

#### 36. Multiply all elements in a tuple by 2

In [18]:
# Using tuple_a as case study

new_tuple = []
for num in tuple_a:
    new_tuple.append(num*2)

multipliedTuple = tuple(new_tuple)

# print the multiplied tuple
print(tuple_a) # this is tuple_a
multipliedTuple # this is the multipled tuple_a

(2, 6, 4)

(4, 12, 8)

#### 37. Create a tuple of random numbers.

In [20]:
import random

# Generate a tuple of 5 random numbers
random_tuple = tuple(random.randint(1, 100) for _ in range(5))

# Print the tuple of random numbers
print(random_tuple)

(24, 100, 46, 97, 53)

#### 38. Check if a tuple is sorted.

In [21]:
# Function to check if a tuple is sorted
def is_sorted_tuple(input_tuple):
    return input_tuple == tuple(sorted(input_tuple))

# Test the function with examples
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 2, 1, 4, 3)

# Check if tuples are sorted
print("Is sorted_tuple sorted?", is_sorted_tuple(sorted_tuple))
print("Is unsorted_tuple sorted?", is_sorted_tuple(unsorted_tuple))

Is sorted_tuple sorted? True
Is unsorted_tuple sorted? False

#### 39. Rotate a tuple to the left by `n` positions.

In [22]:
def rotate_left(tuple_to_rotate, n):
    n = n % len(tuple_to_rotate)  # Ensure n is within the length of the tuple
    rotated_tuple = tuple_to_rotate[n:] + tuple_to_rotate[:n]
    return rotated_tuple

# Test the function with an example
original_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_left(original_tuple, 2)

# Print the original and rotated tuples
print("Original tuple:", original_tuple)
print("Rotated tuple:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Rotated tuple: (3, 4, 5, 1, 2)

#### 40. Rotate a tuple to the right by `n` positions.

In [23]:
def rotate_right(tuple_to_rotate, n):
    n = n % len(tuple_to_rotate)  # Ensure n is within the length of the tuple
    rotated_tuple = tuple_to_rotate[-n:] + tuple_to_rotate[:-n]
    return rotated_tuple

# Test the function with an example
original_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_right(original_tuple, 2)

# Print the original and rotated tuples
print("Original tuple:", original_tuple)
print("Rotated tuple:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Rotated tuple: (4, 5, 1, 2, 3)

#### 41. Create a tuple of the first 5 Fibonacci numbers.

In [24]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_sequence = [0, 1]
    while len(fibonacci_sequence) < n:
        next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2]
        fibonacci_sequence.append(next_number)
    return tuple(fibonacci_sequence)

# Generate a tuple of the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)

# Print the tuple
print(first_5_fibonacci)

(0, 1, 1, 2, 3)

#### 42. Create a tuple from user input

In [26]:
# Function to get user input and create a tuple
def create_tuple_from_input():
    # Get user input for each element of the tuple
    element1 = input("Enter the first element: ")
    element2 = input("Enter the second element: ")
    element3 = input("Enter the third element: ")

    # Convert input to the desired types (you can adjust this based on your use case)
    try:
        element1 = int(element1)
        element2 = float(element2)
        # If the third element is expected to be a string, you can leave it as is
    except ValueError:
        print("Invalid input. Please enter valid numeric values.")

    # Create a tuple from the input values
    user_input_tuple = (element1, element2, element3)
    return user_input_tuple

# Get user input and create a tuple
result_tuple = create_tuple_from_input()

Enter the first element:  5
Enter the second element:  4
Enter the third element:  5

#### 43. Swap two elements in a tuple.

In [27]:
# Function to swap two elements in a tuple
def swap_elements(input_tuple, index1, index2):
    # Convert the tuple to a list to make modifications
    list_representation = list(input_tuple)

    # Swap the elements using index1 and index2
    list_representation[index1], list_representation[index2] = list_representation[index2], list_representation[index1]

    # Convert the list back to a tuple
    swapped_tuple = tuple(list_representation)
    return swapped_tuple

# Example tuple
original_tuple = (1, 2, 3, 4, 5)

# Swap elements at index 1 and index 3
swapped_tuple = swap_elements(original_tuple, 1, 3)

# Print the original and swapped tuples
print("Original tuple:", original_tuple)
print("Swapped tuple:", swapped_tuple)

Original tuple: (1, 2, 3, 4, 5)
Swapped tuple: (1, 4, 3, 2, 5)

#### 44. Reverse the elements of a tuple.

In [1]:
original_tuple = (1, 2, 3, 4, 5)

# reversing using the slicing method
original_tuple[::-1]

(5, 4, 3, 2, 1)

#### 45. Create a tuple of the first `n` powers of 2.

In [2]:
# Function to generate the first n powers of 2
def generate_powers_of_2(n):
    powers_of_2 = [2**i for i in range(n)]
    return tuple(powers_of_2)

# Specify the value of n
n = 5

# Generate a tuple of the first n powers of 2
powers_of_2_tuple = generate_powers_of_2(n)

# Print the tuple
print(powers_of_2_tuple)

(1, 2, 4, 8, 16)

#### 46. Find the longest string in a tuple of strings

In [7]:
# Create a tuple of strings
string_tuple = ('apple', 'banana', 'orange', 'grape')

longest_string = ''

for words in string_tuple:
    if len(words) > len(longest_string):
        longest_string = words
    
print(f'The longest string in the list of string is: {longest_string}')

The longest string in the list of string is: banana

#### 47. Find the shortest string in a tuple of strings

In [12]:
# Create a tuple of strings
string_tuple = ('apple', 'banana', 'orange', 'grpe')

shortest_string = string_tuple[0]

for words in string_tuple:
    if len(words) < len(shortest_string):
        shortest_string = (words)
    
print(f'The shortest string in the tuple of string is: {shortest_string}')

The shortest string in the tuple of string is: grpe

#### 48. Create a tuple of the first `n` triangular numbers.

In [13]:
# Function to generate the first n triangular numbers
def generate_triangular_numbers(n):
    triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]
    return tuple(triangular_numbers)

# Specify the value of n
n = 5

# Generate a tuple of the first n triangular numbers
triangular_numbers_tuple = generate_triangular_numbers(n)

# Print the tuple
print(triangular_numbers_tuple)

(1, 3, 6, 10, 15)

#### 49. Check if a tuple contains another tuple as a subsequence

In [14]:
# Function to check if a tuple contains another tuple as a subsequence
def is_subsequence(main_tuple, sub_tuple):
    main_len = len(main_tuple)
    sub_len = len(sub_tuple)

    for i in range(main_len - sub_len + 1):
        if main_tuple[i:i + sub_len] == sub_tuple:
            return True

    return False

# Example tuples
larger_tuple = (1, 2, 3, 4, 5, 6, 7)
smaller_tuple = (3, 4, 5)

# Check if smaller_tuple is a subsequence of larger_tuple
result = is_subsequence(larger_tuple, smaller_tuple)

# Print the result
if result:
    print("The smaller tuple is a subsequence of the larger tuple.")
else:
    print("The smaller tuple is not a subsequence of the larger tuple.")

The smaller tuple is a subsequence of the larger tuple.

#### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [15]:
 # Function to create a tuple of alternating 1s and 0s
def create_alternating_tuple(n):
    alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
    return alternating_tuple

# Specify the length of the tuple (n)
n = 8

# Create a tuple of alternating 1s and 0s
result_tuple = create_alternating_tuple(n)

# Print the resulting tuple
print(result_tuple)

(1, 0, 1, 0, 1, 0, 1, 0)

#### Set Based Practice Problem :
1. Create a set with integers from 1 to 5.

In [3]:
my_set = {1,2,3,4,5}
type(my_set)

set

#### 2. Add an element to a set

In [19]:
my_set.add(6)

print(my_set)

{1, 2, 3, 4, 5, 6}

#### 3. Remove an element from a set.

In [4]:
my_set.pop()

1

In [5]:
my_set

{2, 3, 4, 5}

#### 4. Check if an element exists in a set

In [23]:
if 5 in my_set:
    print('5 exist in the set')
else:
    print('The element does not exist')

5 exist in the set

#### 5. Find the length of a set without using the `len()` function

In [6]:
len(my_set)

4

#### 6. Clear all elements from a set

In [9]:
my_set1 = {22,5,41,6}

my_set1.clear()
my_set1

set()

#### 7. Create a set of even numbers from 1 to 10
#### 8. Create a set of odd numbers from 1 to 10

In [11]:
# create an empty list
even_set = []
odd_set= []

# loop through numbers from 1 to 10
for num in range(1, 10+1):
    if num%2 == 0:
        even_set.append(num)
    else:
        odd_set.append(num)

# print the list and covert to set
print(f'The tuple of even numbers from 1 to 10 are: {tuple(even_set)}')
print(f'The tuple of odd numbers from 1 to 10 are: {tuple(odd_set)}')

The tuple of even numbers from 1 to 10 are: (2, 4, 6, 8, 10)
The tuple of odd numbers from 1 to 10 are: (1, 3, 5, 7, 9)

#### 9. Find the union of two sets.

In [12]:
# Create two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union using the union() method
union_set_method = set1.union(set2)

# Find the union using the | operator
union_set_operator = set1 | set2

# Print the union sets
print("Union using union() method:", union_set_method)
print("Union using | operator:", union_set_operator)

Union using union() method: {1, 2, 3, 4, 5}
Union using | operator: {1, 2, 3, 4, 5}

#### 10. Find the intersection of two sets.

In [13]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the intersection using the intersection() method
intersection_set_method = set1.intersection(set2)

# Find the intersection using the & operator
intersection_set_operator = set1 & set2

# Print the intersection sets
print("Intersection using intersection() method:", intersection_set_method)
print("Intersection using & operator:", intersection_set_operator)

Intersection using intersection() method: {3, 4}
Intersection using & operator: {3, 4}

#### 11. Find the difference between two sets.

In [14]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the difference using the difference() method
difference_set_method = set1.difference(set2)

# Find the difference using the - operator
difference_set_operator = set1 - set2

# Print the difference sets
print("Difference using difference() method:", difference_set_method)
print("Difference using - operator:", difference_set_operator)

Difference using difference() method: {1, 2}
Difference using - operator: {1, 2}

#### 12. Check if a set is a subset of another set.

In [15]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set2 is a subset using the issubset() method
is_subset_method = set2.issubset(set1)

# Check if set2 is a subset using the <= operator
is_subset_operator = set2 <= set1

# Print the results
print("Is set2 a subset using issubset() method?", is_subset_method)
print("Is set2 a subset using <= operator?", is_subset_operator)

Is set2 a subset using issubset() method? True
Is set2 a subset using <= operator? True

#### 13. Check if a set is a superset of another set.

In [16]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set1 is a superset using the issuperset() method
is_superset_method = set1.issuperset(set2)

# Check if set1 is a superset using the >= operator
is_superset_operator = set1 >= set2

# Print the results
print("Is set1 a superset using issuperset() method?", is_superset_method)
print("Is set1 a superset using >= operator?", is_superset_operator)

Is set1 a superset using issuperset() method? True
Is set1 a superset using >= operator? True

#### 14. Create a set from a list.

In [17]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a set from the list using the set() constructor
my_set = set(my_list)

# Print the resulting set
print(my_set)

{1, 2, 3, 4, 5}

#### 15. Convert a set to a list.

In [18]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list using the list() constructor
my_list = list(my_set)

# Print the resulting list
print(my_list)

[1, 2, 3, 4, 5]

#### 16. Remove a random element from a set.

In [19]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove a random element using the pop() method
removed_element = my_set.pop()

# Print the removed element and the updated set
print("Removed element:", removed_element)
print("Updated set:", my_set)

Removed element: 1
Updated set: {2, 3, 4, 5}

#### 17. Pop an element from a set

In [20]:
my_set.pop()

2

In [21]:
my_set

{3, 4, 5}

#### 18. Check if two sets have no elements in common.

In [22]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets have no elements in common using isdisjoint() method
no_common_elements = set1.isdisjoint(set2)

# Print the result
if no_common_elements:
    print("The sets have no elements in common.")
else:
    print("The sets have elements in common.")

The sets have no elements in common.

#### 19. Find the symmetric difference between two sets.

In [23]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the symmetric difference using the symmetric_difference() method
symmetric_difference_method = set1.symmetric_difference(set2)

# Find the symmetric difference using the ^ operator
symmetric_difference_operator = set1 ^ set2

# Print the symmetric difference sets
print("Symmetric difference using symmetric_difference() method:", symmetric_difference_method)
print("Symmetric difference using ^ operator:", symmetric_difference_operator)

Symmetric difference using symmetric_difference() method: {1, 2, 5, 6}
Symmetric difference using ^ operator: {1, 2, 5, 6}

#### 20. Update a set with elements from another set.

In [24]:
# Create two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2 using the update() method
set1.update(set2)

# Alternatively, you can use the |= operator
# set1 |= set2

# Print the updated set1
print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

#### 21. Create a set of the first 5 prime numbers.

In [25]:
def generate_primes(n):
    primes = set()
    num = 2
    while len(primes) < n:
        is_prime = all(num % i != 0 for i in range(2, int(num**0.5) + 1))
        if is_prime:
            primes.add(num)
        num += 1
    return primes

# Generate a set of the first 5 prime numbers
prime_numbers_generated = generate_primes(5)

# Print the generated set
print(prime_numbers_generated)

{2, 3, 5, 7, 11}

#### 22. Check if two sets are identical.

In [26]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5}

# Check if the sets are identical using the == operator
are_identical_operator = set1 == set2

# Check if the sets are identical using issubset() and issuperset() methods
are_identical_methods = set1.issubset(set2) and set1.issuperset(set2)

# Print the results
print("Are the sets identical using == operator?", are_identical_operator)
print("Are the sets identical using issubset() and issuperset() methods?", are_identical_methods)

Are the sets identical using == operator? True
Are the sets identical using issubset() and issuperset() methods? True

#### 23. Create a frozen set.

In [27]:
# Create a regular set
my_set = {1, 2, 3, 4, 5}

# Create a frozen set from the regular set
my_frozen_set = frozenset(my_set)

# Print the frozen set
print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

#### 24. Check if a set is disjoint with another set.

In [28]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets are disjoint
are_disjoint = set1.isdisjoint(set2)

# Print the result
if are_disjoint:
    print("The sets are disjoint.")
else:
    print("The sets are not disjoint.")

The sets are disjoint.

#### 25. Create a set of squares of numbers from 1 to 5.

In [29]:
# Create a set of squares of numbers from 1 to 5
squares_set = {x ** 2 for x in range(1, 6)}

# Print the set
print(squares_set)

{1, 4, 9, 16, 25}

#### 26. Filter out all even numbers from a set

In [30]:
# Create a set of numbers
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Filter out even numbers from the set
filtered_set = {x for x in original_set if x % 2 != 0}

# Print the filtered set
print(filtered_set)

{1, 3, 5, 7, 9}

#### 27. Multiply all elements in a set by 2.

In [32]:
# Create a set of squares of numbers from 1 to 5
multiply_set = {x * 2 for x in my_set}

# Print the set
print(multiply_set)

{2, 4, 6, 8, 10}

#### 28. Create a set of random numbers.

In [34]:
import random

# Set the seed for reproducibility (optional)
random.seed(42)

# Create a set of 5 random numbers between 1 and 10
random_set = {random.randint(1, 10) for _ in range(5)}

# Print the set of random numbers
print(random_set)

{1, 2, 4, 5}

#### 29. Check if a set is empty

In [37]:
# Create an empty set
empty_set = set()

# Check if the set is empty using len()
if len(empty_set) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

#### 30. Create a nested set (hint: use frozenset).

In [38]:
# Create nested sets using frozenset
nested_set = {frozenset({1, 2, 3}), frozenset({'a', 'b', 'c'})}

# Print the nested set
print(nested_set)

{frozenset({1, 2, 3}), frozenset({'a', 'b', 'c'})}

### 31. Remove an element from a set using the discard method.

In [39]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an element using discard()
my_set.discard(3)

# Print the updated set
print(my_set)

{1, 2, 4, 5}

32. Compare two sets.
33. Create a set from a string.
34. Convert a set of strings to a set of integers.
35. Convert a set of integers to a set of strings.
36. Create a set from a tuple.
37. Convert a set to a tuple.
38. Find the maximum value in a set.
39. Find the minimum value in a set.
40. Create a set from user input.

In [41]:
# 32. Compare two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Check if two sets are equal
are_equal = set1 == set2

# Check if one set is a subset of another
is_subset = set1.issubset(set2)

# Check if one set is a superset of another
is_superset = set1.issuperset(set2)

print("Are the sets equal?", are_equal)
print("Is set1 a subset of set2?", is_subset)
print("Is set1 a superset of set2?", is_superset)

Are the sets equal? False
Is set1 a subset of set2? False
Is set1 a superset of set2? False

In [42]:
# 33. Create a set from a string.

string_set = set("hello")
print(string_set)

{'e', 'h', 'l', 'o'}

In [43]:
# 34. Convert a set of strings to a set of integers.

string_set = {"1", "2", "3"}
int_set = set(map(int, string_set))
print(int_set)

{1, 2, 3}

In [44]:
# 35. Convert a set of integers to a set of strings.

int_set = {1, 2, 3}
string_set = set(map(str, int_set))
print(string_set)

{'1', '3', '2'}

In [45]:
# 36. Create a set from a tuple.

my_tuple = (1, 2, 3, 4, 5)
tuple_set = set(my_tuple)
print(tuple_set)

{1, 2, 3, 4, 5}

In [46]:
# 37. Convert a set to a tuple.

my_set = {1, 2, 3, 4, 5}
set_tuple = tuple(my_set)
print(set_tuple)

(1, 2, 3, 4, 5)

In [48]:
# 38. Find the maximum value in a set.

my_set = {1, 2, 3, 4, 5}
max_value = max(my_set)
print("Maximum value:", max_value)

Maximum value: 5

In [49]:
# 39. Find the minimum value in a set.

my_set = {1, 2, 3, 4, 5}
min_value = min(my_set)
print("Minimum value:", min_value)

Minimum value: 1

In [54]:
##### 40. Create a set from user input.

user_input = input("Enter elements separated by spaces: ")
user_set = set(map(int, user_input.split()))
print("User set:", user_set)

Enter elements separated by spaces:  5

User set: {5}

 41. Check if the intersection of two sets is empty.
42. Create a set of the first 5 Fibonacci numbers.
43. Remove duplicates from a list using sets.
44. Check if two sets have the same elements, regardless of their count.
45. Create a set of the first `n` powers of 2.
46. Find the common elements between a set and a list.
47. Create a set of the first `n` triangular numbers.

In [55]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Check if the intersection is empty
is_intersection_empty = set1.isdisjoint(set2)
print("Is the intersection empty?", is_intersection_empty)

Is the intersection empty? False

In [ ]:
# 42. Create a set of the first 5 Fibonacci numbers.

def generate_fibonacci(n):
    fib_set = {0, 1}
    while len(fib_set) < n:
        fib_set.add(sum(list(fib_set)[-2:]))
    return fib_set

fibonacci_set = generate_fibonacci(5)
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

In [1]:
# 43. Remove duplicates from a list using sets.

my_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(my_list)
unique_list = list(unique_set)
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

In [2]:
# 44. Check if two sets have the same elements, regardless of their count.

set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1, 1, 2, 3, 4}

# Check if sets have the same elements
have_same_elements = set1 == set2
print("Do the sets have the same elements?", have_same_elements)

Do the sets have the same elements? True

In [3]:
# 45. Create a set of the first n powers of 2.

n = 5
powers_of_2_set = {2**i for i in range(n)}
print("Set of the first", n, "powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [4]:
# 6. Find the common elements between a set and a list.

my_set = {1, 2, 3, 4, 5}
my_list = [4, 5, 6, 7, 8]

common_elements = set(my_list).intersection(my_set)
print("Common elements between set and list:", common_elements)

Common elements between set and list: {4, 5}

In [5]:
# 47. Create a set of the first n triangular numbers.

def generate_triangular_numbers(n):
    triangular_set = set()
    for i in range(1, n + 1):
        triangular_set.add(i * (i + 1) // 2)
    return triangular_set

triangular_numbers_set = generate_triangular_numbers(5)
print("Set of the first 5 triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [6]:
# 48. Check if a set contains another set as a subset.

set1 = {1, 2, 3, 4, 5}
subset = {3, 4}

# Check if subset is present in set1
is_subset = subset.issubset(set1)
print("Is subset present in set1?", is_subset)

Is subset present in set1? True

In [7]:
# 49. Create a set of alternating 1s and 0s of length n.

n = 5
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}

In [9]:
# 50. Merge multiple sets into one.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge multiple sets into one
merged_set = set1.union(set2, set3)
print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}